<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839806748540-qn150li3qrj855mcniessh0i6ggjlh7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839806748540-qn150li3qrj855mcniessh0i6ggjlh7p</string>
	<key>API_KEY</key>
	<string>AIzaSyAdv0ohXNbkECHxs-NMifQrpwHKE_1s1ys</string>
	<key>GCM_SENDER_ID</key>
	<string>839806748540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oliviermiserez.Organizer</string>
	<key>PROJECT_ID</key>
	<string>organizer-c0860</string>
	<key>STORAGE_BUCKET</key>
	<string>organizer-c0860.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:839806748540:ios:6bce8498b29c93106c06f9</string>
	<key>DATABASE_URL</key>
	<string>https://organizer-c0860.firebaseio.com</string>
</dict>
</plist>
